#mainMenu {
	position: relative;
	width: 100%;
	height: 100%;
}
#mainMenu #buttonContainer {
	position: relative;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
}

#mainMenu #buttonContainer input {
	position: relative;
	font-size: 4vh;
	transition: 1s;
	background: rgb(240,240,240);
	cursor: pointer;
}